.container {
    display: grid;
    grid-template-columns: 100px 150px;
    grid-template-rows: 80px 90px;
    grid-gap: 10px;
}

.box {
    color: #ffffff;
    text-align: center;
    border: 2px solid #252525;
    border-radius: 10px;
}

.box1 {
    background-color: blue;
}

.box2 {
    background-color: rgb(175, 173, 36);
}

.box3 {
    background-color: rgb(66, 189, 93);
}

.box4 {
    background-color: rgb(255, 81, 0);
}

.box5 {
    background-color: rgb(206, 64, 118);
}

.box6 {
    background-color: rgb(58, 58, 70);
}

.box7 {
    background-color: rgb(109, 109, 196);
}

.box8 {
    background-color: rgb(54, 100, 98);
}

.box9 {
    background-color: rgb(165, 109, 25);
}

.box10 {
    background-color: rgb(179, 49, 66);
}

.box11 {
    background-color: rgb(36, 109, 18);
}

.box12 {
    background-color: rgb(25, 121, 165);
}