body {
    text-align: center;
}

div * {
    border: solid 4px #000000;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 60px 60px 60px;
    grid-gap: 10px;
    grid-auto-flow: row;
    margin-bottom: 150px;
    border: dotted 1px #000000;
}

.container2 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 60px 60px 60px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    border: dotted 1px #000000;
}

.box {
    color: #ffffff;
    border-radius: 10px;
}

.box1 {
    background-color: blue;
}

.box2 {
    grid-column: auto / span 2;
    background-color: rgb(175, 173, 36);
}

.box3 {
    grid-area: auto / 1 / auto / 3;
    background-color: rgb(66, 189, 93);
}

.box4 {
    grid-area: 2 / 3 / 4 / 4;
    background-color: rgb(255, 81, 0);
}

.box5 {
    background-color: rgb(206, 64, 118);
}

.box6 {
    background-color: rgb(58, 58, 70);
}