.container{
    display: grid;
}

.box{
    width: 100px;
    height: 100px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #c5c2c2;
    border-radius: 10px;
}

.box1 {
    background-color: blue;
}

.box2 {
    background-color: rgb(175, 173, 36);
}

.box3 {
    background-color: rgb(66, 189, 93);
}

.box4 {
    background-color: rgb(255, 81, 0);
}

.box5 {
    background-color: rgb(206, 64, 118);
}

.box6 {
    background-color: rgb(58, 58, 70);
}