body{
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: [inicio] 150px [f-primaria i-content] 700px [f-content i-secundaria] 150px [fim]; 
    grid-template-rows: [inicio] 60px [f-header i-menu] 40px [f-menu i-3col] 200px [f-3col i-rodape] 60px [fim];
    grid-gap: 5px 10px;
}

.header {
    grid-column-start: inicio;
    grid-column-end: fim;
    grid-row-start: inicio;
    grid-row-end: f-header;
    background-color: rgb(25, 121, 165);
}

.menu { 
    grid-column-start: inicio;
    grid-column-end: fim;
    grid-row-start: i-menu;
    grid-row-end: f-menu;
    background-color: rgb(175, 173, 36);
}

.content {
    grid-column-start: i-content;
    grid-column-end: f-content;
    grid-row-start: i-3col;
    grid-row-end: f-3col;
    background-color: rgb(66, 189, 93);
}

.lateral-um {
    grid-column-start: inicio;
    grid-column-end: f-primaria;
    grid-row-start: i-3col;
    grid-row-end: f-3col;
    background-color: rgb(238, 128, 77);
}

.lateral-dois {
    grid-column-start: i-secundaria;
    grid-column-end: fim;
    grid-row-start: i-3col;
    grid-row-end: f-3col;
    background-color: rgb(204, 82, 129);
}

.footer {
    grid-column-start: inicio;
    grid-column-end: fim;
    grid-row-start: i-rodape;
    grid-row-end: fim;
    background-color: rgb(165, 109, 25);
}