.container, .container2 {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(4, 80px);
    grid-gap: 10px;
    margin-bottom: 50px;
}

div {
    border: dotted 1px #000000;
}

.box{
    color: #ffffff;
    text-align: center;
    border: 1px solid #c5c2c2;
    border-radius: 10px;
}

.box1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    background-color: blue;
}

.box2 {
    opacity: .7;
    grid-column: 2 / 4;
    grid-row: 1 / span 2;
    background-color: rgb(175, 173, 36);
}

.box3 {
    grid-column: 1;
    grid-row: 3 / span 2;
    background-color: rgb(66, 189, 93);
}

.box4 {
    opacity: .7;
    grid-column: 2;
    grid-row: 3 / 5;
    position: relative;
    left: -140px;
    top: -100px;
    background-color: rgb(255, 81, 0);
}

.container2 > .box1{
    z-index: 4;
}

.container2 > .box2{
    z-index: 3;
}

.container2 > .box3{
    z-index: 2;
}

.container2 > .box4{
    z-index: 1;
}